@mixin heading-font {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

@mixin bodytext-font {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

$green: #00853E;
$darkgreen: #224c00;
$darkpalegreen: #617751;
$black: #111111;
$darkgrey: #333333;
$grey: #555555;
$white: #dddddd;
$superwhite: #ffffff;

