html {
  scroll-behavior: smooth;
}

body {
  @include bodytext-font;
  margin: 0;
  padding: 0;

  .content {
    padding: 0 16px 0 16px;
    max-width: 1000px;
  }
}


@media (min-width: 900px) {
  body {
    padding: 0;
    margin: 0 0 0 232px;

    .content {
      padding: 0 32px 0 32px;
    }
  }

  

  h1, h2 {
    @include heading-font;
    text-transform: uppercase;
  }

  h3, h4,  {
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
  }
}