.navbar {
  margin: 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: $black;
  text-align: center;

  ul {
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    li {
      padding: 10px 0 10px 0;
    }
  }

  a {
    text-decoration: none;
    border-bottom: transparent solid 1px;
    color: $white;
    transition: border-bottom 350ms;
  }

  a:hover {
    cursor: pointer;
    color: $superwhite;
    border-bottom: $superwhite solid 1px;
  }

  #image-link:hover {
    border-bottom: transparent solid 1px;
    img {
      border: $green solid 4px;
    }
  }

  .active-nav {
    color: $superwhite;
    
  }

  .menu-container {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $black;
    color: $superwhite;
    overflow-x: hidden;
    transition: 0.5s;

    #close-button {
      font-size: 3em;
      text-align: right;
      padding-right: 15%;
      margin: 24px 0 24px 0;
    }
  }

  .top-nav {
    width: 90%;
    height: 60px;
    margin: 0 auto 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: 1.17em;
      text-decoration: none;
      color: $superwhite;
      border: none;
      margin: 0;
      
      span {
        text-transform: lowercase;
        font-weight: 300;
      }
    }

    i {
      color: $superwhite;
      font-size: 1.5em;
    }

  }
  .side-nav {
    display: none;
  }
  
}

@media (min-width: 900px) {
  .navbar {
    .side-nav {
      background-color: $black;
      width: 200px;
      height: 100%;
      padding: 16px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      border: none;
      img {
        border: $superwhite solid 4px;
        border-radius: 50%;
        max-width: 160px;
        height: auto;
        transition: border 350ms;
      }
      ul {
        li {
          padding: 12px 0 12px 0;
          p {
            text-transform: lowercase;
            font-size: 2.5em;
            font-weight: 300;
            padding: 0;
            margin: 0;
            color: $superwhite;
          }
        }
      }
    }
    .top-nav {
      display: none;
    }
  }
}

footer {
  background-color: $black;
  color: $grey;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 16px;
  p {
    font-size: 0.8em;
    margin: 0;
    padding: 8px;
  }
}