#contact-info, #footer-contact {
  display: grid;
  grid-template-columns: 30% 70%;

  .contact-entry {
    text-transform: none;
  }
}

section {
  margin-top: 24px;
  margin-bottom: 24px;
  border-bottom: $black solid 1px;

  #name {
    font-size: 3.5em;
    padding-left: 24;
  }

  
  h1 {
    border-left: $green solid 6px;
    padding-left: 16px;
    margin-top: 24px;
  }
}

@media (min-width: 900px) {
  section {
    min-height: 100vh;
  }
}